/*
TODO: Realizar los estilos para modo responsive, ya que por el momento el primer problema es el menú y en general debo ajustarlo lo necesario
*/

/* !Selector universal para indicar lo siguiente:
 * Eliminar el margin y padding que tienen por defecto los contenedores y tomar control de estos
 * para todos los elementos que cree a partir de ahora, eliminando espacio extra de relleno
*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
/*! Fuentes de Lato: https://fonts.google.com/specimen/Lato#standard-styles*/
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v23-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/lato-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v23-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* ! Variables de colores*/
:root {
  --color-negro: black;
  --color-negro-cool: #1C1D21;
  --color-negro-Tree: #000000da;
  --color-blanco: white;
  --color-blanco-oscurito: rgb(233, 233, 233);
  --color-negroClaro: rgb(80, 80, 87);
  --color-negroTran: rgba(0, 0, 0, 0.82);
  --color-negroTran2: rgba(0, 0, 0, 0.75);
  --color-beige-oscurito: #f3d899;
  --color-rojo-claro: #f71735;
  --color-rojo-oscurito: #D90429;
  --color-azul-cool: #1c3041; /* ! Reservado para sección de contacto*/
  --color-azul-cool2: #1c4775;
  --color-azul-cool3: #08415C;
  --color-azul-cool4: #2c3e50;
  --color-azul-cool5: #034574;
  --color-verde-claro-cool: #039e84;

  /*Variables para las animaciones gracias a la librería Animate.css*/

  /*Duraciones: */
  --animacion-duracion-2s: 2s;
  --animacion-duracion-2-2s: 2.2s;
  --animacion-duracion-4s: 4s;
  
  /*Forma de animación*/
  --animacion-forma-1: fadeInDown;
}
/* * INICIO ESTILOS DEL HEADER Y EL MENÚ DE NAVEGACIÓN*/
.header {
  background-color: var(--color-negro);
  height: 80px;
  position: sticky;  /* ! Para que el menú acompañe el viewport*/
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;  /*Para superposición por encima de otros*/
}
.nav {
  display: flex;
  justify-content: space-between;
  max-width: 950px;
  margin: 0 auto;
}
.nav-link {
  color: white;
  text-decoration: none;
  animation: var(--animacion-forma-1); 
  animation-duration: var(--animacion-duracion-2s); 
}
.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}
.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.nav-menu-item {
  font-size: 1.4em;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
  animation: var(--animacion-forma-1);
  animation-duration: var(--animacion-duracion-2s);
}
.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}
.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: var(--color-azul-cool5);
  transition: 0.5s;  /*Una leve transición de de animación al deslizar el menú*/
}
/* TOGGLE */
.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;  /* Para cambiar el cursor en su imagen*/
  display: none;
}

/* * INICIO DE ESTILOS DE LA IMAGEN DE BIENVENIDA*/
#contenedor_presentacion {
  width: 100%;
  height: auto;
  background-image: url(../img/code5.webp); /*La imagen está bien; pero necesita un retoque*/
  background-attachment: fixed; /* * Para que la imagen siga a la barra de scroll*/
  background-size: 100%; /* ! Con esto indico que mi fondo ocupe el 100$ del contenedor y no se repita*/
  box-sizing: border-box;
}
section.presentacion {
  height: auto;
  background-color: var(--color-negroTran); /*!Agregamos un fondo que logra oscurecer la imagen anterior debido a la transparencia*/
  text-align: center; /*Para centrar todos los elementos (texto e imágenes)*/
}
/*Necesitamos ajustar la imagen de fondo del contenedor*/
div.contenedor_imagen img {
  width: 18%;
  border-radius: 27%; /*! Con porcentaje se hace un borde circular*/
  position: relative;
  animation: var(--animacion-forma-1);
  animation-duration: var(--animacion-duracion-2-2s);
}
section.presentacion{
  color: var(--color-blanco);
}
section.presentacion h1 {
  padding: 1%;
}
section.presentacion p {
  padding: 1%;
}
section.presentacion h2 {
  padding: 1%;
}
section.presentacion > h1 {
  font-size: 2.4rem;
  animation: var(--animacion-forma-1);
  animation-duration: var(--animacion-duracion-2s);
}
section.presentacion > p {
  margin-top: 0.1%;
  font-size: 2rem;
  font-weight: bolder;
  animation: var(--animacion-forma-1);
  animation-duration: var(--animacion-duracion-2-2s);
}
section.presentacion > h2 {
  font-size: 2rem;
}
section.presentacion p.mi_descripcion {
  font-size: 1.6rem;
  text-align: justify;
  line-height: 8vh; /*Espacio entre líneas del texto según el alto de pantalla*/
  font-weight: bolder;
  margin-top: -4%; /*Lo reduzco un poco porque se vería muy separado el texto del título*/
  animation: var(--animacion-forma-1);
  animation-duration: var(--animacion-duracion-2-2s);
}
.contenedor_descripcion {
  background-color: var(--color-negro-Tree);
}
p.titulo_mi_descripcion {
  margin: 0;
  font-size: 3.5vh;
  animation: var(--animacion-forma-1);
  animation-duration: var(--animacion-duracion-2-2s);
}
p.developer{
  display: inline-block;
  background-color: var(--color-negro-Tree);
}
/* * Título de la sección de habilidades tecnológicas*/
section#contenedor_intro_habilidade_tecno{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: var(--color-rojo-oscurito);
}
section.contenedor_titulo{
  width: auto;
  margin: auto;
  padding: 1.3%;
}
section.contenedor_titulo h1{
  text-align: center;
  color: var(--color-blanco);
  font-size: 2.2rem;
  animation: var(--animacion-forma-1);
  animation-duration: var(--animacion-duracion-2-2s);
}
/* * INICIO ESTILOS de sección de habilidades técnicas FRONT*/
#contenedor_habilidades_tecnicas_front {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
section.presentacion_hb_tec {
  display: flex; /* Grande flexbox, salud por el genio que lo hizo*/
}
/* ! Este es el contenedor del los íconos del front, debe ocupar la mitad del contenedor*/
section.logos_tecnologias {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  background-color: var(--color-beige-oscurito);
  border: 1px solid var(--color-beige-oscurito);
}
/* ! Este es el contenedor de la descripción del front, debe ocupar la mitad del contenedor*/
section.descrip_tecnologias {
  width: 50%;
  height: auto;
  background-color: var(--color-rojo-claro);
  border: 1px solid var(--color-rojo-claro);
}
.contenedor_logos img.logo {
  max-width: 150px;
  min-width: 100px;
  margin: 0 3% 6%;
}

/* *Sección de los logos y el título de los logos*/
div.contenedor_logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* !Los logos se deben centrar*/
  align-content: center; /* !Los logos se deben alinear siempre al centro*/
  height: auto;
}
section.logos_tecnologias > h1 {
  text-align: center;
  font-size: 2.7rem;
  font-weight: bolder;
  padding: 3vw 0 7vw;
}
section.descrip_tecnologias > h1 {
  text-align: center;
  font-size: 2.7rem;
  font-weight: bolder;
  padding: 7% 0 7%;
  color: var(--color-blanco);
}
div.descrip_dominio {
  display: flex;
  flex-wrap: wrap; /* ! El texto se sale al no caber, por lo tanto debo forzarlo a que esté envuelto*/
  justify-content: flex-start;
  margin-left: 15%; /*El texto casi que se sale del contenedor, por lo tanto correrlo a la izquierda*/
}
div.descrip_dominio ul {
  color: var(--color-blanco);
}
div.descrip_dominio ul li {
  font-size: 1.7rem;
  margin: 7% 0 20%;
}

/* * INICIO ESTILOS de sección de habilidades técnicas BACK
! IMPORTANTE: REUTILIZO LA ANTERIOR SECCIÓN HTML porque es lo mismo pero en orden invetido, sin embargo, añado la clase
! de back a los elementos de esa sección para poder modificarlos en caso de que algo tenga que ser diferente (VER clases en la sección Back)*/
#contenedor_habilidades_tecnicas_back {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
/* * INICIO SECCIÓN HABILIDADES PERSONALES*/
/* TODO: Terminar de acomodar sección de habilidades personales con flexbox según el diseño acordado
   TODO: por cierto, tengo los contenedores, esos son los que debo ajustar*/
#contenedor_halidades_personales {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: var(--color-verde-claro-cool); /*TODO BUSCAR UN MEJOR COLOR PARA EL FONDO DE HABILIDADES PERSONALES*/
  border: 1x solid var(--color-verde-claro-cool);
}
.presentacion_habilidades_personales > h1 {
  color: var(--color-blanco);
  text-align: center;
  font-size: 2.3rem;
  font-weight: bolder;
  padding: 5% 0 7%;
}
.contenedor_habilidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
}
.contenedor_habilidad{
  border: none;

}
.contenedor_habilidad{  /* ! Los elementos del contenedor también deben manipularse con flex box para acomodarse*/
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;  /*´Para que se apilen entre si*/
  box-sizing: border-box;
  width: 40vw;
  margin: 1% 1% 7%;
}
.contenedor_habilidad h1{
  color: black;
  font-size: 2.1em;
  font-weight: bolder;
  line-height: 3vh;
  text-align: center;
  padding-bottom: 7%;
}
.contenedor_habilidad p {
  color: black;
  font-size: 1.7em;
  font-weight: bolder;
  line-height: 4vh;
  text-align: center;
  margin-top: 3vw;
  text-align: justify;
}
.contenedor_habilidad img {
  max-width: 300px;
  min-width: 100px;
  margin: auto;  /* ! Para centrar los logos*/
}

/* * INICIO ESTILOS de sección de proyectos*/
/* TODO: Tanto en HTML como CSS mejorar la presentación de los proyectos cuando estén refinados*/
section#contenedor_proyectos{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: var(--color-blanco-oscurito);
}
section#presentacion_proyectos{
  width: 100%;
  height: auto;
}
section.presentacion_proyectos h1{
  padding: 5% 0 7%;
  font-size: 2.3rem;
  text-align: center;
}
div.contenedor_pry{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
div.proyecto{
  margin: 2vw 1vw;
  padding: 1vw 2.5vw;
  box-shadow: 2px 2px 6px 3px gray;
  text-align: center;
}
div.proyecto h1{
  margin: .6vw;
  font-size: 2rem;
}
div.proyecto p{
  color: var(--color-negro);
  font-size: 1.4em;
  font-weight: 800;
  margin-bottom: .7vw;
}
div.proyecto a{
  display: inline-block;
  color: var(--color-azul-cool2);
  font-weight: bold;
  font-size: 1.2em;
  margin: 15px;
}
/*! Es una prueba de animación para ver como actúa*/
div.animado_pr:hover{
  animation: pulse; 
  animation-duration: 1s; 
}

/* * INICIO ESTILOS DE SECCIÓN DE CONTACTO*/
section#contenedor_contacto{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: var(--color-azul-cool3);
}
section.presentacion_contacto{
  color: var(--color-blanco);
}
section.presentacion_contacto > h1{
  text-align: center;
  font-size: 2.3rem;
  font-weight: bolder;
  padding: 5% 0 2%;

}
section.presentacion_contacto > h2{
  text-align: center;
  font-size: 1.9rem;
  padding: 3% 0 .1%;
}
div.contenedor_contacto{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
div.contenedor_dato{
  display: inherit;  /* *Heredar los estilos del contenedor padre*/
  justify-content: inherit;
  align-items: inherit;
  align-content: inherit;
  margin: 5%;
}
div.contenedor_dato p{
  margin-left: inherit;
  font-size: 1.5rem;
}
div.contenedor_dato span{
  font-size: 1.8rem;
}
div.contenedor_dato span{
  font-size: 1.8rem;
}
div.contenedor_dato p a{
  color: var(--color-blanco);
}
/* * INICIO de estilos para el pie de página*/
footer{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: var(--color-negro);
}
div.contenedor_creditos{
  display: flex;
  color: var(--color-blanco);
  justify-content: center;
  align-items: center;
}
div.creditos{
  text-align: center;
}
div.creditos h1{
  margin: 5% 0;
}
div.creditos h3{
  margin: 4% 0;
}
div.contenedor_creditos{
  padding: .5% 0;
}
/* ! INICIO MEDIA QUERY para toda la adpaptación de la página*/
/* * Smartphones, Tablets y relativamente PCs con menos pantalla horizontal(ojalá no esté sujeto a errores :/) */
@media (max-width: 900px) {
  .header {
  height: 80px;
  top: 0;
  left: 0;
  position: sticky;  /* ! Para que el menú acompañe el viewport*/
  width: 100%;
  }

  .logo {
  font-size: 25px;
  padding: 0 20px;
  line-height: 60px;
  }

  .nav-menu {
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: var(--color-azul-cool4);
  position: fixed;
  top: 60px;
  width: 100%;
  padding: 20px 0;

  height: calc(100% - 60px);
  overflow-y: auto;
  left: 100%;
  transition: left 0.3s;
  }

  .nav-menu-item {
  line-height: 70px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
  background: none;
  color: #83c5f7;
  }

  .nav-toggle {
  display: block;
  }

  .nav-menu_visible {
  left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
  outline: none;
  }
}

/* *Smartphones para cosas más puntuales en el diseño*/
@media (max-width: 700px) {
  /*Título de bienvenida al portafolio*/
  section.presentacion > h1{
    font-size: 1.7rem;
  }
  /*Mi nombre*/
  section.presentacion > p{
    font-size: 1.5rem;
  }
  /*Tamaño de la foto*/
  div.contenedor_imagen img {
    width: 38%;
  }
  /*Sobre mi*/
  section.presentacion p {
    padding: 6% 0 0;
  }
  /*Descripción sobre mí*/
  section.presentacion p.mi_descripcion{
    font-size: 1.2rem;
    padding: 4%;
  }
  /* Título de habilidades técnicas front y back*/
  section.logos_tecnologias > h1{
    font-size: 1.8rem;
  }
  /*Tamaño de los logos fron y back*/
  .contenedor_logos img.logo{
    max-width: 85px;
    min-width: 80px;
  }
  /*Título de las descripciones de las habilidades técnicas*/
  section.descrip_tecnologias > h1{
    font-size: 1.8rem;
  }
  /*Descripciones de las habilidades técnicas*/
  div.descrip_dominio ul li{
    font-size: 1.3rem;
    padding-left: 1%;
    margin: 7% 5% 20%;
  }
  /*INCIO DEL BUG DE HABILIDADES PERSONALES
  Lo que pasa es que estos se salen del ancho de pantalla y aparacer la barra de scroll*/
  .contenedor_habilidades{
    /*Como no caben, toca ponerlos en columna y centrarlos*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .contenedor_habilidad{
    text-align: center;
    width: auto;  /*Automáticamente se ajustarán al centro del ancho de pantalla*/
  }
  /*Título de habilidades personales (sección)*/
  .presentacion_habilidades_personales > h1{
    font-size: 1.7rem;
    padding: 14% 0 10%;
    font-weight: bolder;
  }
  /*Título de las habilidades (cada uno)*/
  .contenedor_habilidad h1{
    font-size: 1.6rem;
    padding-bottom: 6%;
    font-weight: bolder;
  }
  /*Imágenes*/
  .contenedor_habilidad img{
    max-width: 160px;
  }
  /*Descripción habilidad*/
  .contenedor_habilidad p{
    font-size: 1.3rem;
    padding: 0 8%;
  }
  /*Título de la sección de proyectos*/
  section.presentacion_proyectos h1{
    font-size: 1.8rem;
    padding: 15% 0;
  }
  /*Separación de los contendores en top y bottom*/
  div.proyecto{
    margin: 8% 5%;
    padding: 1%;
  }
  /*Título de cada proyecto*/
  div.proyecto h1{
    font-size: 1.4rem;
    padding: 6% 0 0;
  }
  /*Descripción de cada proyecto*/
  div.proyecto p{
    font-size: 1.1rem;
  }
  /*Imágenes*/
  div.proyecto img{
    max-width: 135px;
  }
  /*Título sección de contacto*/
  section.presentacion_contacto > h1{
    font-size: 1.8rem;
    padding: 9% 0;
  }
  section.presentacion_contacto > h2{
    font-size: 1.4rem;
    padding: 6% 0;
  }
  div.contenedor_contacto{
    flex-direction: column;
  }
  /*Imágenes*/
  div.contenedor_contacto img{
    max-width: 100px;
  }
  /*Texto de medios de comunicación*/
  div.contenedor_dato span{
    font-size: 1.3rem;
  }
  div.contenedor_dato p{
    font-size: 1.1rem;
  }
  /*Pie de página en sus títulos*/
  div.creditos h1{
    font-size: 1.1rem;
  }
  div.creditos h3{
    font-size: 1rem;
  }
  /* * Título de sección de habilidades técnias*/
  section.contenedor_titulo h1{
    font-size: 1.4rem;
    padding: 2.5%;
  }
}
/* * Cuando la orientación de pantalla sea horizontal para smarthphone*/
@media (max-width: 700px) and (orientation: landscape){
  /* Mi descripción*/
  section.presentacion p.mi_descripcion{
    line-height: 10vh;
  }
  /*Descripción de habilidades*/
  .contenedor_habilidad p{
    line-height: 10vh;
  }
}